.services {
  /* height: calc(100vh - 80px); */
  background-color: rgb(240 240 240 / 26%);
  background-image: url('../../components/images/mice_project.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.services .container {
  max-width: 1240px;
  margin: 0 auto;
}
.services .content {
  width: 1100px;
  margin: 0 auto;
}
.our_services {
  text-align: center;
  margin-bottom: 2rem;
}
.our_services h2 {
  font-size: 48px;
  padding: 8px;
  color: #172e40;
  background-color: rgb(219 171 168);
  width: fit-content;
  margin: 2rem auto 0;
}
.our_services p {
  max-width: 600px;
  margin: 2rem auto;
  color: #172e40;
}
.services_card {
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  padding: 20px 1rem;
  flex-wrap: wrap;
  gap: 16px;
  margin: 1rem 0;
}

.services_heading {
  flex-grow: 1;
  width: calc(25% - 16px);
  transition: 0.3s;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.services_heading:hover {
  background-color: #80a4be;
  transform: scale(1.01);
}
.services_heading h3 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 1rem auto;
  font-weight: 400;
  background-color: rgb(219 171 168);
  width: fit-content;
  padding: 12px;
  color: #172e40;
}
.services_heading:hover p,
.services_heading:hover h3 {
  color: #fff;
}

.services_heading p {
  width: 100%;
  line-height: 20px;
}
.services_heading button {
  width: 100%;
  border: 0;
  background-color: #80a4be;
  color: #fff;
  padding: 12px 8px;
  border-radius: 12px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.services_heading:hover button {
  background-color: #fff;
  color: #80a4be;
}
