.home-wrapper {
  width: 100%;
  position: relative;
}
.home-wrapper svg {
  position: absolute;
  top: 80px;
  left: 0;

  z-index: 99;
}

.home {
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  height: 100vh;
  /* width: 100%; */
  position: relative;
  margin-top: 10px;
}
.home:before {
  content: '';
  background: url('../../components/images/Untitled-1.jpg') no-repeat center
    center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}
.home .content h1 {
  font-weight: 300;
  font-size: 5rem;
}
.home .content p {
  font-weight: 600;
  font-size: 5rem;
}
.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}

.cls-1 {
  fill: #f8f8f8;
}
.w-100 {
  position: absolute;
  width: 108%;
  top: -27px;
  left: -65px;
}
