.header {
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  background-color: #f8f8f8;
  position: fixed;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}
.logo {
  cursor: pointer;
}
.header .nav_menu {
  display: flex;
  flex-direction: row;
}
.header .nav_menu .nav_list {
  display: flex;
}
.header .nav_menu .nav_list li {
  cursor: pointer;
}
.header .nav_menu select {
  background-color: transparent;
}
.header .nav_item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav_item a {
  color: #172e40;
}
.header .nav_item .active_menu {
  color: #80a4be;
}

.select_language {
  border: none;
  position: relative;
}
.galleryNav {
  position: relative;
  transition: 0.3s;
}

.galleryNav:hover .galleryDrop {
  display: flex;
}

.galleryNav .galleryDrop {
  position: absolute;
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 4px 12px;
  top: 3.5rem;
  left: -65px;
  border-radius: 12px;
  color: gray;
  box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.75);
}
.galleryNav .galleryDrop::before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0px 15px;
  border-color: #fff transparent transparent transparent;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotateX(180deg);
}
.galleryNav .galleryDrop li {
  padding: 12px;
}
.galleryNav .galleryDrop li:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}
.languagePart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.languagePart span {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-left: 16px;
}

.languagePart .langIcon {
  fill: #80a4be;
}
