.header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: #f8f8f8;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}
.header .nav_menu {
  display: flex;
  flex-direction: row;
}
.header .nav_menu ul {
  display: flex;
}
.header .nav_menu select {
  background-color: transparent;
}
.header .nav_item {
  padding: 1rem;
  font-weight: 500;
}

.select_language {
  border: none;
  position: relative;
}
