.footer {
  width: 100%;
  background-color: #fbfbfb;
  padding: 0.5rem 0;
  height: 80px;
  color: #172f40;
}
.footer .container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer_wrapper .logo {
  height: 100%;
}

.footer_wrapper .logo img {
  height: 100%;
}

.footer_info,
.footer_contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.footer .number_contact {
  margin-right: 32px;
  height: 100%;
}
.footer_info ul,
.contact_social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_info > ul:first-child {
  margin-right: 1rem;
}
.footer_info li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer_contacts {
  display: flex;
  flex-direction: row;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex span {
  display: inline-block;
  width: 20px;
  margin-right: 8px;
}
.footer_phone {
  fill: #172f40;
}
.d-flex li {
  font-size: 14px;
  font-weight: 500;
}
.d-flex img {
  width: 17px;
}
.d-flex .img1 {
  margin: 0 8px 0 12px;
}
