:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark: #e3d002;
  --overlay: rgba(0, 0, 0, 0.7);
}

@font-face {
  font-family: 'Bold';
  src: local('Bold'),
    url(./fonts/Artegra/ArtegraSans-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Regular';
  src: local('Regular'),
    url(./fonts/Artegra/ArtegraSans-Regular.otf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Regular;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.App {
  overflow: hidden;
}
